// Variables

$white: #fff;
$dark: #595955;
$red: #ef4448;
$grey: rgba(53,56,58,.4);

$hoverred: #445f88;
$hoverblack: #324a71;
$hoverwhite: #d2b797;

$cooper: 'cooper-black-std', serif;
$clarendon: 'clarendon-text-pro', sans-serif;