/* Keyframes */

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(8rem);
    transform: translateY(8rem);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(8rem);
    transform: translateY(8rem);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeIn {
    -webkit-animation: fadeIn 750ms cubic-bezier(.33,.28,.18,.99) forwards;
    -moz-animation: fadeIn 750ms cubic-bezier(.33,.28,.18,.99) forwards;
    -ms-animation: fadeIn 750ms cubic-bezier(.33,.28,.18,.99) forwards;
    -o-animation: fadeIn 750ms cubic-bezier(.33,.28,.18,.99) forwards;
    animation: fadeIn 750ms cubic-bezier(.33,.28,.18,.99) forwards;
}

@media #{$media-l} {

    .fadeInUp {
        opacity: 0;
        -webkit-animation: fadeUp 1600ms cubic-bezier(.33,.28,.18,.99), fadeIn 1600ms 100ms cubic-bezier(.33,.28,.18,.99) forwards;
        -moz-animation: fadeUp 1600ms cubic-bezier(.33,.28,.18,.99), fadeIn 1600ms 100ms cubic-bezier(.33,.28,.18,.99) forwards;
        -ms-animation: fadeUp 1600ms cubic-bezier(.33,.28,.18,.99), fadeIn 1600ms 100ms cubic-bezier(.33,.28,.18,.99) forwards;
        -o-animation: fadeUp 1600ms cubic-bezier(.33,.28,.18,.99), fadeIn 1600ms 100ms cubic-bezier(.33,.28,.18,.99) forwards;
        animation: fadeUp 1600ms cubic-bezier(.33,.28,.18,.99), fadeIn 1600ms 100ms cubic-bezier(.33,.28,.18,.99) forwards;
    }

    .fadeInUp2 {
        opacity: 0;
        -webkit-animation: fadeUp 350ms cubic-bezier(.33,.28,.18,.99), fadeIn 850ms 150ms cubic-bezier(.33,.28,.18,.99) forwards;
        -moz-animation: fadeUp 350ms cubic-bezier(.33,.28,.18,.99), fadeIn 850ms 150ms cubic-bezier(.33,.28,.18,.99) forwards;
        -ms-animation: fadeUp 350ms cubic-bezier(.33,.28,.18,.99), fadeIn 850ms 150ms cubic-bezier(.33,.28,.18,.99) forwards;
        -o-animation: fadeUp 350ms cubic-bezier(.33,.28,.18,.99), fadeIn 850ms 150ms cubic-bezier(.33,.28,.18,.99) forwards;
        animation: fadeUp 350ms cubic-bezier(.33,.28,.18,.99), fadeIn 850ms 150ms cubic-bezier(.33,.28,.18,.99) forwards;
    }
    
}

/* Delays */

.delay-1 {
    opacity: 0;
    -webkit-animation-delay: 1100ms;
    -moz-animation-delay: 1100ms;
    -ms-animation-delay: 1100ms;
    -o-animation-delay: 1100ms;
    animation-delay: 1100ms;
}

/* Work Animations */

@media #{$media-l} {
    
    /* Fade up from bottom of figure */
    
    .js-exp-fade {
        -webkit-animation: jsExpFade 450ms cubic-bezier(.33,.28,.18,.99) forwards;
    }

    @-webkit-keyframes jsExpFade {
        0% {
            opacity: 0;
            top: 100%;
        }
        
        85% {
            opacity: .4;
        }

        100% {
            opacity: 1;
            top: 5rem;
        }
    }
    
    /* Title and Behance slide Left/Right */
    
    .work-title {
        @media #{$media-l} {
            -webkit-transform: translateX(-150%);
        }
    }
    
    .work-seeon-l {
        @media #{$media-l} {
            -webkit-transform: translateX(150%);
        }
    }
    
    .js-slideLeftFade {
        -webkit-animation: jsLeft 350ms cubic-bezier(.33,.28,.18,.99) forwards;
    }
    
    @-webkit-keyframes jsLeft {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-100%);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }
    }
    
    .js-slideRightFade {
        -webkit-animation: jsRight 350ms cubic-bezier(.33,.28,.18,.99) forwards;
    }
    
    @-webkit-keyframes jsRight {
        0% {
            opacity: 0;
            -webkit-transform: translateX(100%);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }
    }
    
}


/*
header {
    .logo-l {
        -webkit-animation: fadein 450ms linear;
        -moz-animation: fadein 450ms linear;
        -ms-animation: fadein 450ms linear;
        -o-animation: fadein 450ms linear;
        animation: fadein 450ms linear;
    }  
    .logo-1 {
        -webkit-animation-delay: 550ms;
        -moz-animation-delay: 550ms;
        -ms-animation-delay: 550ms;
        -o-animation-delay: 550ms;
        animation-delay: 550ms;
    }
    .logo-2 {
        -webkit-animation-delay: 600ms;
        -moz-animation-delay: 600ms;
        -ms-animation-delay: 600ms;
        -o-animation-delay: 600ms;
        animation-delay: 600ms;
    }
    .logo-3 {
        -webkit-animation-delay: 650ms;
        -moz-animation-delay: 650ms;
        -ms-animation-delay: 650ms;
        -o-animation-delay: 650ms;
        animation-delay: 650ms;
    }
    .logo-4 {
        -webkit-animation-delay: 700ms;
        -moz-animation-delay: 700ms;
        -ms-animation-delay: 700ms;
        -o-animation-delay: 700ms;
        animation-delay: 700ms;
    }
    .logo-5 {
        -webkit-animation-delay: 750ms;
        -moz-animation-delay: 750ms;
        -ms-animation-delay: 750ms;
        -o-animation-delay: 750ms;
        animation-delay: 750ms;
    }     
}*/