// Animation

/* Animations */

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fade-in {
    -webkit-animation: fadein 450ms linear;
    -moz-animation: fadein 450ms linear;
    -ms-animation: fadein 450ms linear;
    -o-animation: fadein 450ms linear;
    animation: fadein 450ms linear;
}

header {
    .logo-l {
        -webkit-animation: fadein 450ms linear;
        -moz-animation: fadein 450ms linear;
        -ms-animation: fadein 450ms linear;
        -o-animation: fadein 450ms linear;
        animation: fadein 450ms linear;
    }  
    .logo-1 {
        -webkit-animation-delay: 475ms;
        -moz-animation-delay: 475ms;
        -ms-animation-delay: 475ms;
        -o-animation-delay: 475ms;
        animation-delay: 475ms;
    }
    .logo-2 {
        -webkit-animation-delay: 500ms;
        -moz-animation-delay: 500ms;
        -ms-animation-delay: 500ms;
        -o-animation-delay: 500ms;
        animation-delay: 500ms;
    }
    .logo-3 {
        -webkit-animation-delay: 525ms;
        -moz-animation-delay: 525ms;
        -ms-animation-delay: 525ms;
        -o-animation-delay: 525ms;
        animation-delay: 525ms;
    }
    .logo-4 {
        -webkit-animation-delay: 550ms;
        -moz-animation-delay: 550ms;
        -ms-animation-delay: 550ms;
        -o-animation-delay: 550ms;
        animation-delay: 550ms;
    .logo-5 {
        -webkit-animation-delay: 575ms;
        -moz-animation-delay: 575ms;
        -ms-animation-delay: 575ms;
        -o-animation-delay: 575ms;
        animation-delay: 575ms;
    }     
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
    -webkit-animation: fadeInUp 450ms linear;
    -moz-animation: fadeInUp 450ms linear;
    -ms-animation: fadeInUp 450ms linear;
    -o-animation: fadeInUp 450ms linear;
    animation: fadeInUp 450ms linear;
}