// Animation

/* Animations */

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fade-in {
    -webkit-animation: fadein 450ms linear;
    -moz-animation: fadein 450ms linear;
    -ms-animation: fadein 450ms linear;
    -o-animation: fadein 450ms linear;
    animation: fadein 450ms linear;
}

header {
    .logo-l {
        -webkit-animation: fadein 450ms linear;
        -moz-animation: fadein 450ms linear;
        -ms-animation: fadein 450ms linear;
        -o-animation: fadein 450ms linear;
        animation: fadein 450ms linear;
    }  
    .logo-1 {
        -webkit-animation-delay: 400ms;
        -moz-animation-delay: 400ms;
        -ms-animation-delay: 400ms;
        -o-animation-delay: 400ms;
        animation-delay: 400ms;
    }
    .logo-2 {
        -webkit-animation-delay: 425ms;
        -moz-animation-delay: 425ms;
        -ms-animation-delay: 425ms;
        -o-animation-delay: 425ms;
        animation-delay: 425ms;
    }
    .logo-3 {
        -webkit-animation-delay: 450ms;
        -moz-animation-delay: 450ms;
        -ms-animation-delay: 450ms;
        -o-animation-delay: 450ms;
        animation-delay: 450ms;
    }
    .logo-4 {
        -webkit-animation-delay: 500ms;
        -moz-animation-delay: 500ms;
        -ms-animation-delay: 500ms;
        -o-animation-delay: 500ms;
        animation-delay: 500ms;
    .logo-5 {
        -webkit-animation-delay: 525ms;
        -moz-animation-delay: 525ms;
        -ms-animation-delay: 525ms;
        -o-animation-delay: 525ms;
        animation-delay: 525ms;
    }     
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
    -webkit-animation: fadeInUp 550ms linear;
    -moz-animation: fadeInUp 550ms linear;
    -ms-animation: fadeInUp 550ms linear;
    -o-animation: fadeInUp 550ms linear;
    animation: fadeInUp 550ms linear;
}

.delay-1 {
    -webkit-animation-delay: 50ms;
    -moz-animation-delay: 50ms;
    -ms-animation-delay: 50ms;
    -o-animation-delay: 50ms;
    animation-delay: 50ms;
}
.delay-2 {
    -webkit-animation-delay: 75ms;
    -moz-animation-delay: 75ms;
    -ms-animation-delay: 75ms;
    -o-animation-delay: 75ms;
    animation-delay: 75ms;
}
.delay-3 {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    -ms-animation-delay: 300ms;
    -o-animation-delay: 300ms;
    animation-delay: 300ms;
}
.delay-4 {
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    -ms-animation-delay: 500ms;
    -o-animation-delay: 500ms;
    animation-delay: 500ms;
}