@font-face {
    font-family: 'fontsalt';
    src: url('../font/salt-icons.eot?62854643');
    src: url('../font/salt-icons.eot?62854643#iefix') format('embedded-opentype'),
       url('../font/salt-icons.woff?62854643') format('woff'),
       url('../font/salt-icons.ttf?62854643') format('truetype'),
       url('../font/salt-icons.svg?62854643#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

 [class^="i-"]:before, [class*=" i-"]:before {
    font-family: "fontsalt";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;


    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-behance:before {
    content: '\e801';
    font-size: 24px;
    -wekbit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
}

.i-insta:before {
    content: '\e802';
    font-size: 24px;
    -wekbit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
}