// Typography

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::selection {
	background-color: rgba(77, 87, 96, .1);
}

body {
    font-size: 14px;
    background-color: $white;
    font-family: $clarendon;
    font-weight: 400;
    line-height: 1.45;
    color: $dark;
    box-sizing: border-box;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $cooper;
    font-weight: inherit;
    line-height: .9;
}

h1, .uno {
  font-size: 5.0625em;
}

h2, .dos {font-size: 1.5em;}

h3, .tres {font-size: 1em;}

small, .font_small, .work-title p, figcaption a {font-size: .833125em;}


@media only screen and (min-width: 38em) {
}

.brand {
    font-family: $cooper;
}

.dark {
    color: $dark;
}

.red {
    color: $red;
}

.white {
    color: $white;
}

.no-margin {
    @include zero;
}

.no-margin-top {
    margin-top: 0;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

ul {
	list-style-type: none;
}