// Work CSS

#work {
    figure {
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        width: 100%;
        display:table-cell;
        vertical-align:middle;
        display:flex;
        display:-webkit-flex;
        flex-direction:row;
        -webkit-flex-direction:row;
        flex-flow:column;
        -webkit-flex-flow:column;
        flex-direction:column;
        margin: 0;
        padding: 0;
        h2, p, a {
            @include zero;
        }
        h2 {
            letter-spacing: 0.05em;
        }
        p, a {
            letter-spacing: 0.03em;
            font-size: 12.75px;
        }
        .dark {
            color: $dark;
        }
        a {
            color: $white;
            text-decoration: none;
        }
        .i-behance {
            -webkit-transition: all 150ms linear;
            -moz-transition: all 150ms linear;
            -ms-transition: all 150ms linear;
            -o-transition: all 150ms linear;
            transition: all 150ms linear;
        }
        a:hover .i-behance {
            opacity: .6;
        }
        .a-text {
            opacity: .6;
        }
        .work-title {
            position: absolute;
            @media #{$media-l} {
                top: 1rem;
                left: 1rem;
                top: 35px;
                left: 35px;
            }
            h2 {
                color: $white;
                margin-bottom: 9px;
            }
            .dark {
                color: $dark;
            }
            p {
                color: $white;
                opacity: .6;
                line-height: 16px;
            }
            .grey {
                color: $grey;
                opacity: 1;
            }
            
        }
        .work-seeon-s, .work-seeon-l {
            position: absolute;
            top: 1rem;
            right: 1rem;
            @media #{$media-l} {
                top: 27px;
                right: 35px;
            }
        }
        .work-seeon-s {
            display: block;
            @media only screen and (min-width: 38em) {
                display: none;
            }
        }
        .work-seeon-l {
            display: none;
            @media only screen and (min-width: 38em) {
                display: block;
            }
        }
        .seeon-red {
            color: #fc483f;
        }
    }
}

/* Parallax */

.scroll-parallax {
    opacity: 1;
    overflow: hidden;
    
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0,.7);

    width: 90%;
    max-width: 700px;
    
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 1.25rem;
    
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    
    @media #{$media-s} {
        top: 3em;
    }

    @media #{$media-m} {
        border-radius: 6px 6px 0px 0px;
        top: 2.5em;
    }

    @media #{$media-l} {
        border-radius: 10px 10px 0px 0px;
        top: 7em;
        img {
            position: absolute;
            top: 25px;
            z-index: 1;
        }
    }
}

#frontcrush>.scroll-parallax {
    @media #{$media-l} {
        top: 8.5em;
    }
}

.work-scroll:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 66px;
    top: 0px;
    z-index: 5;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

/* Piece-Specific Elements */

.tall {
    height: 380px;
    @media #{$media-m} {
        height: 500px;
    }
    @media #{$media-l} {
        height: 680px;
    }
}

.medium {
    height: 380px;
    @media #{$media-m} {
        height: 550px;
    }
}

.small {
    height: 275px;
    float: left;
}

.half-tall {
    height: 250px;
    @media #{$media-l} {
        height: 340px;
    }
}

#work figure.xs {
    width: 50%;
    display: inline-block;
    float: left;
}

.center-ins {
    position: absolute;
    width: 180px;
    display: block;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
}

#digestive>img {
    position: absolute;
    display: block;
    width: 270px;
    top: 6rem;
    right: -265px; 
    @media #{$media-m} {
        width: 400px;
        top: 8.5rem;
        right: -360px;
    }
}

#ipa>img {
   width: 320px;
}

#fc-1>img, #fc-2>img, #fc-3>img, #fc-4>img {
    width: 115px;
}

#leaders>img, #leaders-2>img, #leaders-3>img, #leaders-4>img {
    width: 150px;
    @media #{$media-m} {
        width: 140px;
    }
    @media #{$media-l} {
        width: 190px;
    }
}

#leaders>img, #leaders-3>img {
    position: absolute;
    display: block;
    margin: 0 auto;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(50%);
    @media #{$media-m} {
        bottom: 10rem;
        left: 50%;
        -webkit-transform: translateX(-50%), translateY(0);
    }
    @media #{$media-l} {
        bottom: 12.45rem;
    }
}

.student-leaders>div>.medium {
    @media #{$media-m} {
        height: 450px;
    }
    @media #{$media-l} {
        height: 550px;
    }
}

#lovestinks>img {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    width: 200px;
    @media #{$media-m} {
        width: 280px;
    }
    @media #{$media-l} {
        width: 340px;
    }
}

.exp-bar:before {
    background-image: url(../images/explorandes-nav-bar.png);
}

.en-bar:before {
    background-image: url(../images/enhansoft-nav-bar.png);
}

.usil-bar:before {
    background-image: url(../images/usil-nav-bar.png);
}

.bg {
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

#lovestinks {
    background-image: url(../images/salt-lovestinks-bg.jpg);
}

#explorandes {
    background-image: url(../images/salt-explorandes-bg.jpg);
}

#airugo {
    background-color: white;
}

#woodworks {
    background-color: #35383a;
}

#usil {
    background-image: url(../images/salt-USIL-bg.jpg);
}

#digestive {
    background-image: url(../images/salt-digestive-bg.jpg);
}

#ipa {
    background-color: #35383a;
}

#enhansoft {
    background-image: url(../images/salt-enhansoft-bg.jpg);
    background-position: center top;
}

#frontcrush {
    background-color: #68a83e;
    background-image: url(../images/salt-frontcrush-bg.png);
    background-size: 650px;
    background-position: center center;
    background-repeat: no-repeat;
}

#fc-1, #fc-2, #fc-3, #fc-4 {
    background-size: 300px;
    background-repeat: no-repeat;
}

#fc-1 {
    background-color: #f5f5f5;
    background-image: url(../images/salt-fc-1.jpg);
    background-position: right bottom;
}

#fc-2 {
    background-color: #41c3e3;
    background-image: url(../images/salt-fc-2.jpg);
    background-position: left bottom;
}

#fc-3 {
    background-color: #34515f;
    background-image: url(../images/salt-fc-3.jpg);
    background-position: right top;
}

#fc-4 {
    background-color: #68a83e;
    background-image: url(../images/salt-fc-4.jpg);
    background-position: left top;
}

#leaders {
    background-color: #644fa1;
}

#leaders-2 {
    background-color: #5be4d6;
}

#leaders-3 {
    background-color: #ed1a62;
}

#leaders-4 {
    background-color: #bcd631;
}