// Work CSS

#work {
    figure {
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        h2, p, a {
            @include zero;
        }
        h2 {
            letter-spacing: 0.05em;
        }
        p, a {
            letter-spacing: 0.03em;
            font-size: 12.75px;
        }
        .dark {
            color: $dark;
        }
        a {
            color: $white;
            text-decoration: none;
        }
        .i-behance {
            -webkit-transition: all 150ms linear;
            -moz-transition: all 150ms linear;
            -ms-transition: all 150ms linear;
            -o-transition: all 150ms linear;
            transition: all 150ms linear;
        }
        a:hover .i-behance {
            opacity: .6;
        }
        .a-text {
            opacity: .6;
        }
        .work-bg {
            width: 180%;
            -webkit-transform: translateX(-20%);
            -moz-transform: translateX(-20%);
            -ms-transform: translateX(-20%);
            -o-transform: translateX(-20%);
            transform: translateX(-20%);
            @media #{$media-m} {
                width: 100%;
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
                transform: translateX(0);
            }
        }
        .work-top {
            position: absolute;
            width: 70%;
            max-width: 800px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        .work-usil {
            bottom: 0;
            @media #{$media-m} {
                top: 5rem;
            }
            @media only screen and (min-width: 80em) {
                top: auto;
                bottom: 0;
            }
        }
        .work-explorandes {
            bottom: 0;
            @media #{$media-m} {
                top: 5rem;
            }
        }
        .work-title {
            position: absolute;
            top: 1rem;
            left: 1rem;
            @media #{$media-l} {
                top: 35px;
                left: 35px;
            }
            h2 {
                color: $white;
                margin-bottom: 9px;
            }
            .dark {
                color: $dark;
            }
            p {
                color: $white;
                opacity: .6;
                line-height: 16px;
            }
            .grey {
                color: $grey;
                opacity: 1;
            }
            
        }
        .work-seeon-s, .work-seeon-l {
            position: absolute;
            top: 1rem;
            right: 1rem;
            @media #{$media-l} {
                top: 27px;
                right: 35px;
            }
        }
        .work-seeon-s {
            display: block;
            @media only screen and (min-width: 38em) {
                display: none;
            }
        }
        .work-seeon-l {
            display: none;
            @media only screen and (min-width: 38em) {
                display: block;
            }
        }
        .seeon-red {
            color: #fc483f;
        }
    }
}

.bg-woodworks {
    background-color: #35383a;
}

.bg-lovestinks {
    background-color: #f1ad1e;
}